*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

label {
    font-size: 0.8rem;
    position: relative;
    left: 5%;
    top: -5px;
    margin-bottom: 20px;
}

input {
    padding: 0.5rem;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    
}

form {
    background-image:linear-gradient(180deg, #d7d6f3, #b3e0ec) ;
    padding: 1rem;
    border-radius: 20px;
    width: 600px;
}

form h1 {
    font-size: 2.6rem;
    position: relative;
    left: 5%;
}

.sign-in-nav {
    height: 40px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: right;
    
    padding: 0.8rem;
    
}

.sign-in-nav ul li {
    margin-right: 40px;
    list-style-type: none;
}



.sign-in-nav ul li a {
    text-decoration: none;
    color: #fff;
}


.signIn-btn {
    outline: none;
    border: none;
    width: 90%;
    position: relative;
    left: 5%;
    padding: 0.6rem;
    background-color: rgb(57, 57, 110);
    color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    box-shadow: 5px 10px 10px #0000002a;
}
.signIn-btn:hover {
    transform: scale(1.1);
}